<!DOCTYPE html>
<html ng-app="shopingList">
<head>
	<meta charset="utf-8">
	<title>Using Controller as Directive</title>
	<script src="../../angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<h3>Using Controller as Directive</h3>
	
	<div ng-controller="shopingListController as list">
		
		<input type="text" ng-model="list.itemname" placeholder="Item Name">
		<input type="text" ng-model="list.quantity" placeholder="Item Quantity">
		<button ng-click="list.addItem()">Add to List</button>
		
		<item-list items="list.itemList" title="Shopping List Directive"></item-list>
		

	</div>

</body>
</html>