<!DOCTYPE html>
<html ng-app="BindingApplication">
<head>
	<meta charset="utf-8">
	<title>Bindings Methods</title>
	<script src="../../angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<h3>Different Bindings Methods</h3>
	<div ng-controller="bindingController">
		<button ng-click="showNumberofWatchers()"># of watchers</button>
		<button ng-click="newfullname()">Generate Full Name</button><br><br>	
		Full Name : {{ ::fullname }}<br><br>
		<button ng-click="logfirstname()">Log First Name</button>
		<button ng-click="logfullname()">Log Full Name</button>
		<input type="text" ng-model="firstname">
	</div>
</body>
</html>