<!DOCTYPE html>
<html ng-app="shoppingListComponentApp">
<head>
	<meta charset="utf-8">
	<title>Implementing Components</title>
	<link rel="icon" href="../../favicon.ico" type="image/x-icon">
	<script src="../../jquery.min.js"></script>
	<script src="../../angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h3>Implementing Components</h3>
	
	<div ng-controller="shoppingListController as list">
		<input type="text" ng-model="list.itemname" placeholder="Item Name">
		<input type="text" ng-model="list.quantity" placeholder="Item Quantity">
		<button ng-click="list.addItem()">Add Item</button>
		
		<span>{{ list.lastRemoved }}</span>

		<shopping-list 
		items="list.itemlist"
		title="Shopping List Component App"
		on-remove="list.removeItem(index)"></shopping-list>

	</div>
</body>
</html>